<template name="footer">
	<footer class="container-fluid">
		<div class="row">
			<div class="col-xs-12 text-center">
				<small>
					{{_"disclaimer"}} <a href="https://abdulmeque.com" target="_blank">Abdul Meque</a>
					&nbsp;-&nbsp;
					
				</small>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<br>
				<small>
			<i class="fa fa-rss"></i> RSS <a href="/rss/jobs" target="_blank">{{_"jobs"}}</a> <a href="/rss/profiles" target="_blank">{{_ "candidates"}}</a>
					&nbsp;-&nbsp;
					<i class="fa fa-code"></i> JSON <a href="/api/jobs" target="_blank">{{_"jobs"}}</a> <a href="/api/profiles" target="_blank">{{_ "candidates"}}</a> 
				</small>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center" id="disclaimer">
				This is a project by <a href="https://abdulmeque.com" target="_blank">NMTSS</a> and has not been authorized, sponsored, or otherwise approved by any Government Agency.
			</div>
		</div>
	</footer>
</template>
