<template name="profiles">
  <section id="profiles">
    <div class="row search-filter">
        <div class="col-md-3 col-md-offset-6 col-sm-6 text-right">
          <div class="form-group">
            <select id="type" class="form-control">
              <option value="All">{{_"viewalloption"}}</option>
              <option value="Individual">{{_"viewindividualsonly"}}</option>
              <option value="Company">{{_"viewcompaniesonly"}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <input type="text" id="search" class="form-control" placeholder='{{_"search"}}' />
          </div>
        </div>
      {{!--
      <input type="checkbox" id="availableForHire" /> --}}
    </div>
    <div class="row">
      {{#each profiles}}
        {{>profileSmall}}
      {{else}}
        {{#if queryActive}}
          {{_"nomatchingprofiles"}}
        {{/if}}
      {{/each}}
    </div>
    <div class="text-center">
        {{> infiniteScroll }}
    </div>
  </section>
</template>
