<head>
  <meta name="description" content="TechJobs is a job board and community space for tehc talents.  This site provides a complete listing of positions requiring diversified skills set, as well as to profiles for Tech experts for hire.">
	<meta name="keywords" content="Tech,Jobs,Developers,Contracts,Freelance,Remote,Telecommute,Consultants">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"> 
	<link rel="icon" type="image/png" href="/images/favicon.png">
</head>
