<template name="jobDeactivate">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">{{_"deactivatequestion"}}</h4>
                </div>

                <div class="modal-body">
                    <br><br>
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <a class="deactivate filled btn btn-primary btn-lg" role="button" href="#">{{_"positionfilled"}}</a>
                        </div>
                        <div class="col-sm-6 text-center">
                            <a class="deactivate btn btn-danger btn-lg" role="button" href="#">{{_"otherreasons"}}</a>
                        </div>
                    </div>
                    <br><br><br>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{_"cancel"}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
