<template name="jobNew">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
                <h4 class="text-center">{{_"jobsalert"}}</h4>
                <br>
                <p>{{_"jobsarefree"}}

                {{_"jobpostdurationdisclaimer"}}
                
                {{_"youcanbuyfeatured"}}</p>
                <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Create Your Job Post</h4>
                </div>
                <div class="panel-body">
                    {{#autoForm id="jobNew" collection="Jobs" type="insert" }}
                        {{>jobFields}}
                        <div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-chevron-right"></i> {{_"previewjobpost"}}</button>
                        </div>
                    {{/autoForm}}
                </div>
            </div>
        </div>
    </div>
</template>
<template name="jobEdit">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Edit Job Post</h4>
                </div>
                <div class="panel-body">
                    {{!-- {{#if $eq job.status 'pending'}} --}}
                        {{#autoForm id="jobEdit" collection="Jobs" doc=job type="update" }}
                            {{>jobFields}}
                            <div>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> {{_"update"}}</button>
                                <button id="cancel" class="btn btn-default"> {{_"cancel"}}</button>
                            </div>
                        {{/autoForm}}
                    {{!-- {{else}}
                        <div class="alert alert-info">
                            <i class="fa fa-exclamation-triangle fa-2x pull-left"></i> {{_"jobposteditalert"}}
                            <br>
                            <a href="{{pathFor 'job' _id=job._id}}">{{_"backtojobpost"}}</a>
                        </div>
                    {{/if}} --}}
                </div>
            </div>
        </div>
    </div>
</template>
<template name="jobFields">
    {{> afQuickField name='title' }} {{> afQuickField name="jobtype" firstOption="(selectjobtype)" options="allowed"}} {{> afQuickField name='company' }} {{> afQuickField name='location' }} {{> afQuickField name='remote'}} {{> afQuickField name='description' rows=8 }} {{> afQuickField name='url' }} {{> afQuickField name='contact' }}
</template>
