<template name="jobLabels">
    {{#if featured}}<span class="label label-primary"><i class="fa fa-trophy"></i> Featured</span>{{/if}}
    {{#if remote}}<span class="label label-success"><i class="fa fa-globe"></i> Remote</span>{{/if}}
    {{#if jobtype}}<span class="label label-default"><i class="fa fa-clock-o"></i> {{jobtype}}</span>{{/if}}
</template>
<template name="jobExpiredAlert">
    {{#if expired}}
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 alert alert-danger">
                <strong>Uh oh!</strong> This job post expired.
            </div>
        </div>
    {{/if}}
</template>
<template name="jobStatusToggle">
    <div class="row">
        <div class="col-sm-12">
            {{_"currentstatus" }} <b>{{status}}</b> - {{_"setstatus"}}
            {{#each statuses}}
                {{#unless $eq ../status this}}
                    <button type="button" class="set-status">{{this}}</button>
                {{/unless}}
            {{/each}}
            <hr>
        </div>
    </div>
</template>
<template name="jobAdminEditLink">
    <div class="pull-right">
    	<a href="/admin/Jobs/{{_id}}/edit">{{_"jobedit"}}</a>
    </div>
</template>
<template name="jobSuggestedTweet">
    <div class="row">
        <div class="col-sm-12">
            {{title}} -
            {{#if remote}}#Remote {{jobtype}}{{else}}{{jobtype}} in {{location}}{{/if}} {{urlFor 'job'}} #meteorjob #meteorjs
            <hr>
        </div>
    </div>
</template>
<template name="jobStatusAlert">
    {{#if $eq status 'pending'}}
        <div class="alert alert-info">
            <i class="fa fa-exclamation-triangle fa-2x pull-left"></i>{{_"jobpendingmessage"}}
        </div>
    {{else}}
        {{#if $eq status 'flagged'}}
            <div class="alert alert-danger">
                <i class="fa fa-flag fa-2x pull-left"></i> 
                {{_"jobflaggedmessage"}}
            </div>
        {{else}}
            {{#if $eq status 'inactive'}}
                <div class="alert alert-warning">
                    <i class="fa fa-flag-checkered fa-2x pull-left"></i> {{_"jobdeactivatedmessage"}}
                </div>
            {{else}}
                {{#if $eq status 'filled'}}
                    <div class="alert alert-success">
                        <i class="fa fa-trophy fa-2x pull-left"></i> {{_"jobfilledmessage"}}
                    </div>
                {{/if}}
            {{/if}}
        {{/if}}
    {{/if}}
</template>
<template name="jobFeatured">
    {{#if $eq currentUser._id userId}}
        {{#unless featured}}
            {{#if featuredAllowed}}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="well">
                            <h3 class="top-flush">{{_"jobupgrademessage"}}</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul>
                                        <li>{{_"guaranteedmessage"}}</li>
                                        <li>{{_"highlightjobmessage"}}</li>
                                        <li>{{_"priorityjobmessage"}}</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 text-center">
                                    <a id="buy-featured" class="btn btn-primary btn-lg" role="button" href="#">{{_buyupgrade}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/unless}}
    {{/if}}
</template>
